html {
	font-family:sans-serif;
	-webkit-text-size-adjust:100%
}
body {
	margin:0
}
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary {
	display:block
}
audio,canvas,progress,video {
	display:inline-block;
	vertical-align:baseline
}
audio:not([controls]) {
	display:none;
	height:0
}
[hidden],template {
	display:none
}
a {
	background:0 0
}
a:active,a:hover {
	outline:0
}
abbr[title] {
	border-bottom:1px dotted
}
b,strong {
	font-weight:700
}
dfn {
	font-style:italic
}
h1 {
	margin:.67em 0
}
mark {
	color:#000;
	background:#ff0
}
small {
	font-size:80%
}
sub,sup {
	font-size:75%;
	line-height:0;
	position:relative;
	vertical-align:baseline
}
sup {
	top:-.5em
}
sub {
	bottom:-.25em
}
img {
	border:0
}
svg:not(:root) {
	overflow:hidden
}
figure {
	margin:1em 40px
}
hr {
	box-sizing:content-box;
	height:0
}
pre {
	overflow:auto
}
code,kbd,pre,samp {
	font-family:monospace,monospace;
	font-size:1em
}
button,input,optgroup,select,textarea {
	font:inherit;
	margin:0;
	color:inherit
}
button {
	overflow:visible
}
button,select {
	text-transform:none
}
button,html input[type=button],input[type=reset],input[type=submit] {
	cursor:pointer;
	-webkit-appearance:button
}
button[disabled],html input[disabled] {
	cursor:default
}
input {
	line-height:normal
}
input[type=checkbox],input[type=radio] {
	box-sizing:border-box;
	padding:0
}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button {
	height:auto
}
input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration {
	-webkit-appearance:none
}
fieldset {
	margin:0 2px;
	padding:.35em .625em .75em;
	border:1px solid silver
}
legend {
	padding:0;
	border:0
}
textarea {
	overflow:auto
}
optgroup {
	font-weight:700
}
table {
	border-spacing:0;
	border-collapse:collapse
}
td,th {
	padding:0
}
* {
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-user-select:none;
	outline:0;
	-webkit-tap-highlight-color:transparent;
	-webkit-tap-highlight-color:transparent
}
body {
	font-family:'Helvetica Neue',Helvetica,sans-serif;
	font-size:17px;
	line-height:21px;
	color:#000;
	background-color:#efeff4;
	-webkit-overflow-scrolling:touch
}
body,dd,div,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,input,li,ol,p,pre,td,textarea,th,ul {
    padding:0;
    margin:0;
    font-family:PingFang SC,Microsoft Yahei,Helvetica Neue,Helvetica,STHeitiSC-Light,Arial,"sans-serif"
}
table {
    border-collapse:collapse;
    border-spacing:0
}
fieldset,img {
    border:0
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight:400;
    font-style:normal
}
ol,ul,li {
    list-style:none
}
caption,th {
    text-align:left;
}
h1,h2,h3,h4,h5,h6 {
    font-weight:400;
    font-size:100%
}
button,input,textarea{
    outline:none
}
a {
    text-decoration:none;
    color:#333
}
a:active {
	color:#0062cc
}
.clearfix:after {
    content:".";
    display:block;
    height:0;
    visibility:hidden;
    clear:both
}
.clearfix {
    *zoom:1
}
.fl {
    float:left
}
.fr {
    float:right
}
.hide {
    display:none!important
}
.show {
    display:block!important
}
.modle-wrap{
    position: fixed;top: 0;right: 0;bottom: 0;left: 0;z-index: 1040;width: 100%;height: 100%;
}
.modle-container{
    background:rgba(0, 0, 0, 0.5) none repeat scroll 0 0 !important;position: relative; width: 100%; height: 100%;
}

.flex{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;}
.flex-v{-webkit-box-orient:vertical;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;}
.flex-1{-webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1;}


/* 每一子元素的边缘延边的中间开始===垂直居中,取值有start=baseline end center */
	.flex-align-center{-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;}
/* 每一子元素的边缘延边的中间开始===水平居中,取值有start end center justify */
	.flex-pack-center{-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;}
/* 在每个子元素之间分割多余的空间（首个子元素前和最后一个子元素后没有多余的空间 */

	.flex-pack-justify{-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;}
	
	.container{
	width:1200px;
	margin:0 auto;
}
.nav{
	line-height: 40px;
	border-bottom: 2px solid #e8e8e8;
}
.nav a{
	font-size: 16px;
	font-weight: 600;
	color:#333;
	line-height: 40px;
	display: inline-block;
	width:110px;
	text-align:center;
	margin-bottom: -2px;
}
.nav a.active{
	border-bottom:2px solid #ff6000;
	color:#ff8f00
}

	
	
	