<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>成绩记录</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta http-equiv="pragma" content="no-cache" />
		<meta http-equiv="Cache-Control" content="no-cache, must-revalidate" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link rel="stylesheet" href="/assets/common/layui/css/layui.css" media="all" />
		<link rel="stylesheet" href="/assets/common/css/public.css" media="all" />
		<style>
			.layui-form-item .layui-input-inline {
				margin-right: 0
			}
			
			.layui-form-label {
				padding: 9px 10px 0 0;
			}
			
			.layui-form-item {
				margin-bottom: 10px
			}
			.width180{
				width:180px!important;
			}
			.width180 input{
				width:180px!important;
			}
			table{
			width:100%!important;
			}
			.width80{
				width:80px!important;
			}
			.width80 input{
				width:80px;
			}
		</style>
	</head>

	<body class="childrenBody">
		<blockquote class="layui-elem-quote quoteBox">
			<form class="layui-form">
				<div class='layui-form-item'>
					<div class="layui-inline">
						<label class="layui-form-label">承办编号</label>
						<div class="layui-inline width180">
							<input class="layui-input" id="unitCode" placeholder="承办编号" autocomplete="off">
						</div>
					</div>

					<div class="layui-inline">
						<label class="layui-form-label">赛事</label>
						<div class="layui-inline width180">
							<input class="layui-input" id="match" placeholder="赛事编号/名称" autocomplete="off">
						</div>
					</div>

					<div class="layui-inline">
						<label class="layui-form-label">运动员名</label>
						<div class="layui-inline width180">
							<input class="layui-input" id="playerName" placeholder="运动员名称" autocomplete="off">
						</div>
					</div>

					<div class="layui-inline">
						<label class="layui-form-label">运动员手机</label>
						<div class="layui-inline width180">
							<input class="layui-input" id="playerPhone" placeholder="运动员手机号" autocomplete="off">
						</div>
					</div>

				

					<div class="layui-inline">
						<label class="layui-form-label">成绩状态</label>
						<div class="layui-input-inline width180">
							<select name="select-main" id="valid" lay-verify="required">
								<option value="1">有效</option>
							<!-- 	<option value="0">无效</option> -->
							</select>
						</div>
					</div>
					
					<div class="layui-inline">
						<label class="layui-form-label">开始时间</label>
						<div class="layui-input-inline width180">
							<input type="text" id="startTime" autocomplete="off" class="layui-input">
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">结束时间</label>
						<div class="layui-input-inline width180">
							<input type="text" id="endTime" autocomplete="off" class="layui-input">
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">排序名称</label>
						<div class="layui-input-inline width180">
							<select name="select-main" id="sortField" lay-filter="sortField">
								<option value="">默认 </option>
								<option value="score">成绩</option>
								<option value="partTime">参赛时间 </option>
								<option value="gmtCreate">创建时间</option>
							</select>
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">排序方式</label>
						<div class="layui-input-inline width80">
							<select name="select-main" id="sortOrder" lay-filter="sortOrder">
								<option value="">默认</option>
								<option value="asc">升序</option>
								<option value="desc">降序</option>
							</select>
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-btn" id="search" style='margin-left: 20px'>搜索</label>
					</div>
					
					<div class="layui-inline">
						<!-- <label class="layui-form-label">排序方式</label> -->
						<div class="layui-input-inline width90">
							<select name="select-main" id="genpics" lay-filter="sortOrder">
								<option value="all" selected="selected">所有成绩</option>
								<option value="day" >今日成绩</option>
								<option value="page">本页成绩</option>
							</select>
						</div>
					</div>
					
					<div class="layui-inline">
						<label class="layui-btn  layui-btn-normal" id="genPic" style='margin-left: 20px'>生成证书</label>
					</div>
					
				</div>
			</form>
		</blockquote>
		<table class="layui-hide" id="demo" lay-filter="demo"></table>
	</body>
	<!--  {{# if(d.sync == 1){ }}
	  {{# } }} -->
	<script type="text/html" id="listBar">
		<div class="layui-btn-group">
          {{# if(d.sync == 1){ }}
            <button class="layui-btn layui-btn-primary layui-btn-xs" lay-event="viewCer">
    			<i class="layui-icon">&#xe66a;</i>查看证书
  			</button>
          {{# } }}
			<button class="layui-btn layui-btn-primary layui-btn-xs" lay-event="cer">
    			<i class="layui-icon">&#xe672;</i>生成证书
  			</button>
			<button class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit">
    			<i class="layui-icon">&#xe647</i>详情
  			</button>
		</div>
	</script>

	<script type="text/html" id="sexTem">
		{{# if(d.sex == 'm'){ }}
		<span style="color: #5FB878;">男</span> {{# } else if(d.sex == 'f'){ }}
		<span style="color: #FF5722;">女</span> {{# } else if(d.sex == '0'){ }}
		<span style="color: #1E9FFF;">未知</span> {{# } }}
	</script>

	<script type="text/html" id="isValidTem">
		{{# if(d.isValid == '1'){ }}
		<span style="color: #5cb85c;">有效</span> {{# } else if(d.isValid == '0'){ }}
		<span style="color: #FF5722;">无效</span> {{# } }}
	</script>

	<script id="scoreTem" type="text/html">
		{{d.score}}{{d.scoreUnit}}
	</script>

	<script id="partTimeTem" type="text/html">
		{{getDate(d.partTime)}}
	</script>

	<script id="gmtCreateTem" type="text/html">
		{{getDate(d.gmtCreate)}}
	</script>

	<script type="text/javascript">
		function getDate(tm) {
			var date = new Date(tm);
			return date.getFullYear() + "-" + (date.getMonth() + 1) + "-" +
				date.getDate();
		}
	</script>
	<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
	<script type="text/javascript" src="/assets/common/layui/layui.js"></script>
	<script>
		var width,height,indexclose;
		if(document.body.clientWidth<1500){
			width='660px';
			height="450px";
		}else{
			width='660px';
			height="650px";
		}
		var dataApi = "/dmp/api/score/list";
		var realUrl="${ctx}";
		layui.use(['table', 'form', 'layedit', 'laydate'], function() {
			var table = layui.table;
			var form = layui.form;
			var layedit = layui.layedit;
			var laydate = layui.laydate;
			var limit = 10;
			var page = 1;
			var unitCode,match,playerName,playerPhone,valid,startTime,endTime;
			var pageData;
			//日期
			laydate.render({
				elem: '#startTime'
			});
			laydate.render({
				elem: '#endTime'
			});
			//展示已知数据
			var indexclose = layer.load(2, {shade: false}); //0代表加载的风格，支持0-2
			
			 tableInit=table.render({
				elem: '#demo',
				id: 'tableDemo',
				url: dataApi + "?&timestamp=" + (new Date()).valueOf(), //数据接口
				cols: [
					[{
						field: 'scoreCode',
						title: '成绩编号',
						width: 120,
						fixed:'left'
					}, {
						field: 'playerName',
						title: '运动员名',
						width: 100
					}, {
						field: 'playerPhone',
						title: '运动员电话',
						width: 130
					}, {
						field: 'sex',
						title: '性别',
						width: 80,
						templet: "#sexTem",
					}, {
						field: 'score',
						title: '成绩',
						templet: "#scoreTem",
						width: 100
					}, {
						field: 'isValid',
						title: '是否有效',
						templet: "#isValidTem",
						width: 80
					},{
						field: 'scoreName',
						title: '科目',
						width: 100
					}, {
						field: 'partTime',
						title: '参赛时间',
						templet: "#partTimeTem",
						width: 100

					},{
						field: 'matchName',
						title: '所属赛事',
						aligin: 'center',
						width: 130
					}, {
						field: 'fieldName',
						title: '所属赛场',
						width: 140
					},  {
						field: 'unitCode',
						title: '承办方',
						width: 120
					}, {
						field: 'gmtCreateStr',
						title: '创建时间',
						width: 120
					},{
						title: '操作',  
						templet:'#listBar',
						fixed:"right",
						align:"left",
						width:220
					} ]
				],
				skin: 'line', //表格风格
				even: true,
				page: true, //是否显示分页
				limits: [10, 20, 30, 50, 100],
				limit: 10, //每页默认显示的数量
				done: function(res, curr, count) {
					if(res.code==0){
						layer.close(indexclose);
						if(res.data != null) {
							pageData=res.data;
							limit = res.data.length;
							page = curr;
						}
						if(res.unitCode != null) {
							//设置承办编号
							$('#unitCode').val(res.unitCode);
							$('#unitCode').attr("readonly", "readonly");
							$('#unitCode').attr("disabled", "disabled");
						}
					}else{
						layer.close(indexclose);
						setTimeout(function() {
							layui.layer.tips(res.errorMsg, '.layui-layer-setwin .layui-layer-close', {
								tips: 3
							});
						}, 100)
					}
				}
			});
			
			table.on('tool(demo)', function(obj) {
				var layEvent = obj.event,
					data = obj.data;
				console.log(data,"data1")

				if(layEvent === 'edit') { //编辑
					var index = layui.layer.open({
						title: "详情",
						type: 2,
						content: "pscoreInfo.html",
						id: 'pscoreInfo',
						area: [width, height],
						zIndex: layer.zIndex,
						success: function(layero, index) {
							var body = layui.layer.getChildFrame('body', index);
							
							//if(data) {
								//编辑
								body.find('#pscoreId').val(JSON.stringify(data));
								//body.find(".addBtn").hide();
								body.find('#btn').click();
							//}
							setTimeout(function() {
								layui.layer.tips('点击此处返回列表', '.layui-layer-setwin .layui-layer-close', {
									tips: 3
								});
							}, 500)
						}
					})
				}
				//查看证书
				if(layEvent === 'viewCer'){
					var index = layer.msg('正在获取成绩证书，请稍候',{icon: 16,time:false,shade:0.8});
					//view Api
					$.get("/dmp/api/scoreCert/pic",{
		          	  id :data.id //将需要删除的newsId作为参数传入
		            },function(obj){
		            	layer.close(index);
		           	 	if(obj.code!=0){
		            		layer.msg(obj.errorMsg);
		            		return;
		            	}else{
		            		layer.open({
		            			  type: 1
		            			  ,title: "成绩证书" //不显示标题栏
		            			  ,content: '<div style="height:650px;width:465px;">  <img style="height:650px;width:465px;"  src="'+obj.data.pic+'" alt=""></div>'
		            			  ,btn: '下载证书'
		            			  ,area: '465px;'
		            			  ,btnAlign: 'c' //按钮居中
		            			  ,shade: 0 //不显示遮罩
		            			  ,yes: function(){
		            				 window.open(obj.data.pic);
		            			    layer.closeAll();
		            			  }
		            			});
		            	}
		           	 	
		            })
				}
				//生成证书
				if(layEvent === 'cer'){
					
					///console.log(data,"datanew");
					var index = layer.msg('正在生成成绩证书，请稍候',{icon: 16,time:false,shade:0.8});
					$.get("/dmp/api/scoreCert/generate",{
		          	  id :data.id //将需要删除的newsId作为参数传入
		            },function(obj){
		            	layer.close(index);
		           	 	if(obj.resultCode!='200'){
		            		layer.msg(obj.resultMsg);
		            		return;
		            	}else if(obj.resultCode=='200'){
		            		layer.open({
		            			  type: 1
		            			  ,content: '<div style="padding: 20px 80px;">'+obj.resultMsg+'</div>'
		            			  ,btn: '关闭'
		            			  ,area: '300px;'
		            			  ,btnAlign: 'c' //按钮居中
		            			  ,shade: 0 //不显示遮罩
		            			  ,yes: function(){
		            				setTimeout(function(){
			            					//tableInit.reload()
		            					table.reload('tableDemo', {
		            						page: {
		            							curr: page
		            						},
		            						where: {
		            							unitCode: unitCode,
		            							match: match,
		            							playerName: playerName,
		            							playerPhone: playerPhone,
		            							valid: valid,
		            							startTime: startTime,
		            							endTime: endTime,
		            							gmtOrderField:gmtOrderField,
		            							applyOrderField:applyOrderField,
		            							modifyOrderField:modifyOrderField,
		            							timestamp: (new Date()).valueOf()
		            						},
		            						url: dataApi
		            					});
			            			},1000)
			            			
		            			    layer.closeAll();
		            			  }
		            			});
		            	}
		           	 	
		            })
				}
			});
			
			//生成证书
			$('#genPic').on('click', function() {
				var genpics = $('#genpics').val();
				var params={};
				console.log(genpics);
				//day
				if(genpics=="all"){
					params.genpicType="all";
				}
				//all
				if(genpics=="day"){
				  var now=new Date();
				  var newdate=now.getFullYear()+"-"+now.getMonth()+"-"+now.getDate();
				  params.genpicType="day";
				  params.day=newdate;
				}
				//page
				if(genpics=="page"){
				   params.genpicType="page";
				   var scoreIds;
				   pageData.forEach(function(value,index,array){
					   if(index==0){
						   scoreIds=value.id;
					      }else{
						   scoreIds=scoreIds+","+value.id;
					     }
					    });
				   console.log(scoreIds);
				}
			    params.scoreIds=scoreIds;
				console.log(params);
				console.log("生成证书方法");
				genBatPicAjax(params);
				
			})
			
			var genBatPicAjax=function(params){
				   $.ajax({
						type:'get',
						url:"/dmp/api/scoreCert/generate/bat",
						cache: false,
						data:params,
						success:function(obj){
						
						},
						error:function(obj){
							
						}
			  		}) 
			  		layer.msg("提交成功,证书生成中...");
			}
			
			
			$('#search').on('click', function() {
				 unitCode = $('#unitCode').val();
				 match = $('#match').val();
				 playerName = $('#playerName').val();
				 playerPhone = $('#playerPhone').val();
				 valid = $('#valid').val();
				 startTime = $('#startTime').val();
				 endTime = $('#endTime').val();
			var sortField=$("#sortField").val();
			var sortOrder=$("#sortOrder").val();
				indexclose = layer.load(2, {shade: false});
				table.reload('tableDemo', {
					page: {
						curr: 1
					},
					where: {
						unitCode: unitCode,
						match: match,
						playerName: playerName,
						playerPhone: playerPhone,
						valid: valid,
						startTime: startTime,
						endTime: endTime,
						sortField:sortField,
						sortOrder:sortOrder,
						timestamp: (new Date()).valueOf()
					},
					url: dataApi,
					done: function(res, curr, count) {
						layer.close(indexclose);
						$("#gmtOrderField").attr("disabled",false)
						$("#applyOrderField").attr("disabled",false)
						$("#modifyOrderField").attr("disabled",false)
						form.render("select");
						if(res.data != null) {
							pageData=res.data;
							limit = res.data.length;
							page = curr
						}
					}
				});
			});
		});
	</script>

</html>