<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>免责声明</title>
	</head>
	<style>
	.disclaimerBox{
		padding:0.5rem 0.2rem;
		font-size:0.3rem;
	}
	.disclaimerBox h1{
		text-align:center;
		font-size:0.5rem;
}
	
	
	</style>
	
	
	<body>
		<div id="wrapper">
			<div class="disclaimerBox">
				<h1>免责声明</h1>
参赛者承诺<br/><br/>
本人自愿报名参加本次赛事（以下统称“比赛”），并承诺已全面了解、同意遵守由首届全国智能体育大赛组委会及承办机构（以下统称“组办方”）制定的各项比赛规则、规程、规定、要求及采取的措施，并承担由于违反以上规定造成损失的全部责任。已为参加比赛做好充分准备，并确认自身身体条件和精神健康状况方面符合参加比赛的各项要求，本人认识到在参加比赛时存在对自身造成伤害的风险，包括终生残疾或死亡，本人承认并接受此风险的存在。本人不会为此追究比赛组织方、比赛赞助方、赛事裁判和工作人员的任何责任。<br/>
本人对参赛可能发生的各种风险和意外已作了全面、审慎的评估，并愿意自行承担由此产生的一切后果。本人保证在参赛过程中为个人安全负责。本人同意“组织方”有权利无偿使用本人的姓名和肖像以及其它个人资料进行各项宣传活动。<br/>
本人或法定代理人已认真阅读并理解上述内容，现予以确认。<br/>
特此承诺。<br/><br/>

赛事参赛声明<br/><br/>
注：请所有参赛选手报名之前务必认真、仔细阅读本赛事所有赛事信息及参赛者承诺，在您提交报名信息后即被默认为您已阅读、理解并同意遵守本赛事规则中的一切内容并签署及提交免责声明。作为参赛选手、我本人、我的监护人、管理人、法定代理人以及任何可能代表我提起赔偿请求或诉讼的人做出以下声明：<br/>
1、本人自愿参加本次比赛，我确认本人具有参加赛事相应的民事行为能力和民事责任能力，并且已获得监护人的同意；<br/>
2、本人确认全面理解并同意首届全国智能体育大赛制定的各项比赛规则、规程、规定、要求及采取的措施。<br/>
3、本人确认已认真阅读了组织方就选手参加本次赛事可能发生的一切风险（包括但不限于因参加本次比赛所可能产生的人身伤亡风险）的提示，我在此明确同意将自行承担因参加本次比赛所可能产生的一切风险和责任。<br/>
4、本人承诺已通过正规医疗机构进行体检，并结合检查报告进行自我评估，确认自己的身体状况能适应本次比赛中的相关运动，本人认识到在参加比赛时存在对自身造成伤害的风险，包括终生残疾或死亡，本人承认并接受此风险的存在。承诺愿意承担参赛可能带来的一切风险（包括但不限于因参加本次比赛所可能产生的人身伤亡风险）；<br/>
5、本人参加此次比赛以及参赛全过程所发生的人身伤害、局部或永久性伤残、死亡、医疗或住院费用、财产损坏、任何形式的盗窃或财产损失等事项，由我自己承担全部责任，免除组织方责任，组织方对此不承担任何形式的赔偿，本人不会为此追究比赛组织方、比赛赞助方、比赛裁判和工作人员的任何责任；<br/>
6、本人授权比赛组织方及指定媒体无偿使用本人的肖像、姓名、声音等用于首届全国智能体育大赛的宣传与推广；<br/><br/>
组委会特别提示有以下疾病患者不宜参加比赛：<br/><br/>
先天性心脏病和风湿性心脏病患者；<br/>
高血压和脑血管疾病患者；<br/>
心肌炎和其它心脏病患者；<br/>
冠状动脉病患者和严重心率不齐者；<br/>
血糖过高或过少的糖尿病患者；<br/>
其它不适合运动的疾病患者。<br/>
				
			</div>
		</div>
		
	</body>
	
	
	
	
	
	
	
</html>
