<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>报名成功</title>
    <link rel="stylesheet" href="${staticPath}/css/gudong.css?v=${cssV}" />

</head>
<body>

    <!--<div class="h5_header gd_font" style="background: #fff;box-shadow: 0 0.01rem 0 0 #ECECEC">-->
        <!--<img src="${staticPath}/img/icon_fanhui.png" onclick="callAndroid()" />-->
        <!--<div class="back" onclick="callAndroid()"></div>-->
        <!--<div class="title">报名成功</div>-->
    <!--</div>-->
    <!--<div class="h5_header_space" style="height: 1.28rem"></div>-->
    <div class="gd_content">
        <div class="gd_content_box">
            <div class="gd_success_card">
                <div class="gd_success_card_top">
                    <span style="display: block;width: 100%;font-size: 0.24rem;color: #999999;text-align: center;padding-top: 0.5rem;">您参加的比赛</span>
                    <div class="gd_top" style="margin: 0rem auto 0.1rem;width: 5.4rem;border-bottom: 1px solid #E2E2E2;height: 1rem;display: flex;align-items: center;justify-content: center;">
                        <span><img src="${staticPath}/img/icon_tit.png" /></span>
                        <span style="margin-left: 0.09rem;margin-right: 0.09rem;color: #29BA66;height: 1rem;line-height: 0.4rem;font-size: 0.4rem;color: #29BA66;display: flex;align-items: center;">${(order.applys[0].eventName)!''}<span>-</span>${(order.applys[0].matchGroupName)!''}</span>
                        <span><img src="${staticPath}/img/icon_tit.png" /></span>
                    </div>
                </div>
                <div class="gd_success_card_bot">
                    <ul style="padding-bottom: 0.2rem;">
                        <!--<li class="clearfix"><p>姓名</p><p>fsaaf</p></li>-->
                        <!--<li class="clearfix"><p>姓名</p><p>fsaaf</p></li>-->
                        <#if order??  && order.teams?? && (order.teams?size > 0)>
                            <#list order.teams as team>
                                <#assign hasOtherInfo="0">
                                <#if team?? && team.players?? && (team.players?size > 0)>
                                    <#list team.players as player>
                                        <#if ( player.attributeName =='attOne' || player.attributeName =='attTwo'  || player.attributeName =='attUrl' )>
                                            <#assign hasOtherInfo="1">
                                        </#if>

                                        <#if player.isShow && player.formatVal?? && player.formatVal!=''  && player.attributeName!='attOne' && player.attributeName!='attTwo' && player.attributeName!='attUrl' && player.attributeName!='imgUrl'  >
                                             <li class="clearfix"><p>${(player.cnname)!''}</p><p>${(player.formatVal)!''}</p></li>
                                        </#if>
                                        <#if !player.isShow  && player.attributeName='sex'>
                                            <li class="clearfix"><p>${(player.cnname)!''}</p><p>${(player.formatVal)!''}</p></li>
                                        </#if>
                                    </#list>
                                </#if>
                                <#if team?? && team.players??  && hasOtherInfo=='1'>
                                     <li class="clearfix">
                                         <p>其他信息</p>
                                         <p>
                                             <#list team.players as player>
                                                <#if player.attributeName =='attOne'>
                                                     <img class="layui-upload-img" src="${(player.formatVal)!''}">
                                                </#if>
                                                <#if player.attributeName =='attTwo'>
                                                    <img class="layui-upload-img" src="${(player.formatVal)!''}">
                                                </#if>
                                                <#if player.attributeName =='attUrl'>
                                                    <img class="layui-upload-img" src="${(player.formatVal)!''}">
                                                </#if>
                                            </#list>
                                         </p>
                                     </li>
                                </#if>
                            </#list>
                        </#if>
                    </ul>
                </div>
            </div>
            <div class="gd_buyMedal">
                <div class="gd_buyMedal_head">
                    <p class="gd_buy_tips">领取奖牌</p>
                    <p class="gd_buy_price">￥--.--</p>
                    <p class="gd_buy_btn">立即领取</p>
                </div>
                <div class="gd_buyMedal_body">
                    <img src="${staticPath}/img/award_3.jpg">
                    <!--<p>${(order.applys[0].matchName)!''}</p>-->
                    <p>首届全国智能体育大赛奖牌</p>
                </div>
            </div>
        </div>

    </div>

<script type="text/javascript" src="${staticPath}/js/jquery-2.1.1.min.js"></script>

<script>
var path = "${ctx}";
var socialDomain="${socialDomain}"
</script>
<script type="text/javascript" src="${staticPath}/js/config.js?v=${cssV}"></script>
<script>
    var path = "${ctx}";
    var goodsCode = '';
    var itemCode = "${(itemCode)!''}";
    // window.onload=function (ev) {
    //
    //     if (clientType('iphoneX')) {
    //         $('.h5_header').css(
    //             'padding-top','0.88rem'
    //         );
    //         $('.gd_content').css(
    //             'top',1.76+'rem'
    //         );
    //
    //     }else{
    //         $('.h5_header').css(
    //             'padding-top','0.4rem'
    //         );
    //         $('.gd_content').css(
    //             'top',1.28+'rem'
    //         );
    //     }
    // }
    getDatas();
    function getDatas(){
        getResultMethods(path + '/shop/goods/match/'+itemCode, { }, function(data) {
            if(data.resultCode == 200){
                var datas = data.result.goods;
                var goodsPrice=Number(datas.productPrice)/100;
                $('.gd_buy_price').html('￥'+goodsPrice)
                goodsCode = datas.goodsCode
            } else {
                var tips = new loadingTips(data.resultMsg, 2500)
                tips.creat()
            }
        })
    }
    // callAndroid = function () {
    //     window.history.back()
    // }
    $('.gd_buy_btn').click(function () {
        // window.location.href='https://xmall.codoon.com/html/item-detail.html?goods_id='+goodsCode;
        window.location.href='https://xmall.codoon.com/html/item-detail.html?h_id='+goodsCode;
    })

</script>
</body>
</html>