<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>图表分析</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta http-equiv="pragma" content="no-cache" />
		<meta http-equiv="Cache-Control" content="no-cache, must-revalidate" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		
		<link rel="stylesheet" href="/assets/common/layui/css/layui.css" media="all" /> 
		<link rel="stylesheet" href="/assets/common/css/public.css" media="all" />
		<link rel="stylesheet" href="/assets/common/css/pagination.css" media="all" />
		<link href="/assets/common/css/userEchart.css" rel="stylesheet" type="text/css">
<link href="/assets/common/css/userEchart.css" rel="stylesheet" type="text/css">
		<style type="text/css">
		    [v-cloak] {
			  display: none;
			} 
			#echart_1{width:100%;height:550px}
			#echart_2{width:620px;height:200px;position:absolute;left:50px}
			.title_1{font-size:18px}
			.d-num{text-align:center;color:12px;margin-top:20px}
			.d-num span{display:inline-block;width:35px;height:45px;line-height:45px;text-align:center;border-top:1px solid #41536f;border-left:1px solid #41536f;border-bottom:1px solid #41536f}
			.d-num span:last-child{border-right:1px solid #41536f}
			.d-num a{margin-left:20px}
			.echart_2_wrap{border-top:1px solid #ccc;padding-top:20px;position:relative}
			#echart_3,#echart_4{width:300px;height:200px}
			#echart_5{width:300px;height:300px}
			.echart_4,.echart_5{border-top:1px solid #ccc;padding:20px 0}
			.echart-right{border-left:1px solid #ccc;padding-left:10px}
		</style>
	</head>
	<body class="childrenBody" >
		<div id='app'>
			<div class="layui-row">
				<div class='layui-col-md8'>
					<div class='title_1'>全国报名人次分布图</div>
					<div class='d-num'>总报名人次
						<a></a>
					</div>
					<div id='echart_1'></div>
					<div class='echart_2_wrap'>
						<div style='width:90px;float:left;margin-top:65px'>赛事报名用户</div>
						<div id='echart_2'></div>
					</div>
				
				</div>	
				<div class='layui-col-md4 echart-right'>
					<div class="">
					用户群体分析
					</div>
					<div id='echart_3'></div>
					<div class='echart_4'>
						<div id='echart_4'></div>
					</div>
					<div class='echart_5'>
						<div id='echart_5'></div>
					</div>
					
					
				</div>
			</div>
		
		</div>
	</body>
	

		
	<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
	<script type="text/javascript" src="/assets/common/layui/layui.js"></script>
	<script type="text/javascript" src="/assets/common/echarts.min.js"></script>
	<script type="text/javascript" src="/assets/common/china.js"></script>
	<script type="text/javascript" src="/assets/common/vue/vue.js"></script>
	<script>
		var Echart_1 = echarts.init(document.getElementById('echart_1'));
		var Echart_2 = echarts.init(document.getElementById('echart_2'));
		var Echart_3 = echarts.init(document.getElementById('echart_3'));
		var Echart_4 = echarts.init(document.getElementById('echart_4'));
		var Echart_5 = echarts.init(document.getElementById('echart_5'));
		getDistribution();
		Analysis();
		getGroups();
		getTotalNum();
		setInterval(function(){
			getTotalNum();
		},60000)
		function getDistribution(){
			$.ajax({
				url:'${ctx}/dmp/api/register/analysis/area/distribution',
				dataType: 'json',
				type:'GET',
				success:function(res){
					var _data=[];
					res.data.underLine.forEach(function(p1,p2){
						_data.push({
							 name: p1.fileName,
			                value: [p1.lon,p1.lat,p1.applyCount]
						})
					});
					var option = {
					        backgroundColor: '#FFFFFF',
					        tooltip: {
					            trigger: 'item',
					            formatter: function(params) {
					                return params.name + ' : ' + params.value[2];
					            }
					        },
					        visualMap: {
					            min: 0,
					            max: 200,
					            calculable: true,
					            inRange: {
					                color: ['#84bddd', '#64afdb', '#306daa']
					            },
					            textStyle: {
					                color: '#fff'
					            },
					            show:false
					        },
					        geo: {
					            map: 'china',
					            roam:true,
					            label: {
					                emphasis: {
					                    show: false
					                }
					            },
					            itemStyle: {
					                normal: {
					                    areaColor: '#41536f',
					                    borderColor: '#FFFFFF'
					                },
					                emphasis: {
					                    areaColor: 'rgb(10, 105, 187)'
					                }
					            }
					        },
					        series: [{
					                name: 'pm2.5',
					                type: 'scatter',
					                coordinateSystem: 'geo',
					                data: _data,
					                symbolSize: 12,
					                label: {
					                    normal: {
					                        show: false
					                    },
					                    emphasis: {
					                        show: false
					                    }
					                },
					                itemStyle: {
					                    emphasis: {
					                        borderColor: '#fff',
					                        borderWidth: 1
					                    }
					                }
					            },


					            {
					                type: 'map',
					                map: 'china',
					                geoIndex: 0,
					                aspectScale: 0.75, //长宽比
					                tooltip: {
					                    show: false
					                }
					            }
					        ]
					    };
					
		 			Echart_1.setOption(option, true);
				}
			})
		}
		
		function Analysis(){
			$.ajax({
				url:'${ctx}/dmp/api/register/analysis/apply/analysis',
				dataType: 'json',
				type:'GET',
				success:function(res){
					var _data=[];
					res.data.forEach(function(p1,p2){
						var num=[];
						for(var i=0;i<res.data.length;i++){
							if(i==p2){
								num.push(p1.quantity)
							}else{
								num.push(0)
							}
						}
						_data.push({
					        type: 'bar',
					        name:p1.typeDesc,
					        stack: 'all',
					        itemStyle: {
				                normal: {
				                    color: function(params) {
				                        // build a color map as your need.
				                        var colorList = ['#f8ba00','#60d937','#00a1ff'];
				                        return colorList[p2]
				                    }
				                }
				            },
					        data: num
					    })
					});
					var option = {

						    tooltip: {
						        trigger: 'item',
						        formatter: "{a}: {c}"
						    },
						    legend: {
						     
						    	left:"center",
						        top:'0'
						    },
						    grid: {
						        left: '50',
						        right: '4%',					   	
						        top:"25",
						        containLabel: true
						    },
						    xAxis: {
						        type: 'value',
						        boundaryGap: [0, 0.01],
						        interval: 50,
						        min:0,
						        max:1000,
						        axisLabel: {
						            formatter: '{value}',
						            textStyle: {
						                //color: '#fff',  
						                fontWeight: '80'
						            }
						        },
						        axisLine:{
						        	show:false
						        }
						    },
						    yAxis: {
						        type: 'category',
						        axisLabel: {
						            show: true,
						            interval: 0,
						            rotate: 0,
						            margin: 10,
						            inside: false,
						            textStyle: {
						                //color: '#fff',
						                fontWeight: '50'
						            }
						        }
						    },
						    series: _data
						};
					Echart_2.setOption(option, true);
			}
		})
	}

		function getGroups(){
			$.ajax({
				url:'${ctx}/dmp/api/register/analysis/group',
				dataType: 'json',
				type:'GET',
				success:function(res){
					var	option1 = {
						    tooltip: {
						        trigger: 'item',
						        formatter: "{a} <br/>{b}: {c} ({d}%)"
						    },
						    legend: {
						        left: 'center',
						        bottom:'15',
						        data:['男','女']
						    },
						    series: [
						        {
						            name:'性别分布',
						            type:'pie',
						            center:["50%","40%"],
						            color: ['#f8ba00','#ff9400'],
						            radius: ['50%', '70%'],
						            avoidLabelOverlap: false,
						            label: {
						                show:true,
						                color:'#333',
						                formatter: "{d}%"
						            },
						            labelLine: {
						            	length:2,
						                lineStyle:{
						                	color:"#999"
						                }
						            },
						            data:[
						                {value:res.data.group.maleTotal, name:'男'},
						                {value:res.data.group.femaleTotal, name:'女'}
						            ]
						        }
						    ]
						};
					var	option2 = {
						    tooltip: {
						        trigger: 'item',
						        formatter: "{a} <br/>{b}: {c} ({d}%)"
						    },
						    legend: {
						        left: 'center',
						        bottom:'15',
						        data:['成年人','未成年']
						    },
						    series: [
						        {
						            name:'年龄段分布',
						            type:'pie',
						            center:["50%","40%"],
						            color: ['#00a1ff','#60d937'],
						            radius: ['50%', '70%'],
						            avoidLabelOverlap: false,
						            label: {
						                show:true,
						                color:'#333',
						                formatter: "{d}%"
						            },
						            labelLine: {
						            	length:2,
						                lineStyle:{
						                	color:"#999"
						                }
						            },
						            data:[
						                {value:res.data.group.adultTotal, name:'成年人'},
						                {value:res.data.group.unAdultTotal, name:'未成年'}
						            ]
						        }
						    ]
						};
					var names=['iOS端报名人数','Android端报名人数','公众号报名人数','其他'];
					var color=['#f8ba00','#60d937','#00a1ff','#1AA094'];
					var values=[
						{
					        value:res.data.group.iosTotal,
					        name:'iOS端报名人数',
					        itemStyle: {
					            normal: {
					                color:'#f8ba00'
					            }
					        }
					    },{
					        value:res.data.group.androidTotal,
					        name:'Android端报名人数',
					        itemStyle: {
					            normal: {
					                color:'#60d937'
					            }
					        }
					    },{
					        value:res.data.group.weichatTotal,
					        name:'公众号报名人数',
					        itemStyle: {
					            normal: {
					                color:'#00a1ff'
					            }
					        }
					    },{
					        value:res.data.group.dmpTotal,
					        name:'其他',
					        itemStyle: {
					            normal: {
					                color:'#1AA094'
					            }
					        }
					    }
					]
					var option3 = {
						    color:color,
						    tooltip: {
						        trigger: 'item',
						        formatter: function (params, ticket, callback) {
						           console.log(params)
						           return params.data.name+':'+params.data.value;
						       
						        }
						    },
						    grid: {
						        top:"20",
						        bottom:'90',
						        containLabel: true
						    },
						    legend: {
						    	 orient: 'vertical',
						        show: true,
						        left:'center',
						        bottom:'0',
						        itemGap:5,
						        data: names
						    },
						    xAxis: {
						    	type : 'category',
						    },
						    yAxis: {
						    	axisLine:{
						    		show:false
						    	},
						    	axisTick:{
						    		show:false
						    	}
						    },
						    series: [{
						        type: 'bar',
						        itemStyle:{
						          color:'green'  
						        },
						        data: values
						    }, {
						    	type: 'scatter',
						        data: [],
						        name: 'iOS端报名人数'
						    }, {
						    	type: 'scatter',
						        data: [],
						        name: 'Android端报名人数'
						    }, {
						    	type: 'scatter',
						        data: [],
						        name: '公众号报名人数'
						    }, {
						    	type: 'scatter',
						        data: [],
						        name: '其他'
						    }]
						};
					Echart_3.setOption(option1, true);
					Echart_4.setOption(option2, true);
					Echart_5.setOption(option3, true);
					Echart_5.on('legendselectchanged', function(params) {
					    var option = {};
					    var newNames = [];
					    var newValues = [];
					    for(var i = 0; i < names.length ;i ++){
					        if(params.selected[names[i]] == true){
					            newNames.push(names[i]);
					            newValues.push(values[i]);
					        }
					    }
					    
					    Echart_5.setOption({
					    	xAxis: {
						    	type : 'category',
						    },
						    yAxis: {
						    	axisLine:{
						    		show:false
						    	},
						    	axisTick:{
						    		show:false
						    	}
						    },
						    series: [{
						        type: 'bar',
						        data: newValues
						    }, {
						        type: 'scatter',
						        name: '1'
						    },  {
						    	type: 'scatter',
						        data: [],
						        name: 'iOS端报名人数'
						    }, {
						    	type: 'scatter',
						        data: [],
						        name: 'Android端报名人数'
						    }, {
						    	type: 'scatter',
						        data: [],
						        name: '公众号报名人数'
						    }, {
						    	type: 'scatter',
						        data: [],
						        name: '其他'
						    }]
						    })
					});
				}
			})
		}
		function digitize1(n) {
            return (n + "").split("").map(Number); //链式调用，split拆分字符串返回数组，在数组上调用map，对数组上每一项
        } 
		function getTotalNum(){
			$.ajax({
				url:'${ctx}/dmp/api/register/analysis/apply/total',
				dataType: 'json',
				type:'GET',
				success:function(res){
					var numArrary=digitize1(res.data)
					$('.d-num').find('a').html('')
					var s='';
					numArrary.forEach(function(p1,p2){
						 s+='<span>'+p1+'</span>'
					})
					$('.d-num').find('a').html(s)
					
				}
			})
		}
	</script>
</html>
