<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.evake.auth.dao.mapper.SysRolePermissionMapper" >
	<resultMap id="BaseResultMap" type="cn.evake.auth.dao.model.SysRolePermission" >
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="role_id" property="roleId" jdbcType="BIGINT" />
		<result column="role_name" property="roleName" jdbcType="VARCHAR" />
		<result column="menu_id" property="menuId" jdbcType="BIGINT" />
		<result column="menu_name" property="menuName" jdbcType="VARCHAR" />
		<result column="uuid" property="uuid" jdbcType="VARCHAR" />
		<result column="create_user_name" property="createUserName" jdbcType="VARCHAR" />
		<result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
		<result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Base_Column_List" >
    id, role_id,role_name, menu_id, menu_name, uuid, create_user_name, gmt_create, gmt_modified
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 'false' as QUERYID,
		<include refid="Base_Column_List" />
    from sys_role_permission
    where id = #{id,jdbcType=BIGINT}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from sys_role_permission
    where id = #{id,jdbcType=BIGINT}
	</delete>
	<insert id="insert" parameterType="cn.evake.auth.dao.model.SysRolePermission"  useGeneratedKeys="true" keyProperty="id">
    insert into sys_role_permission (id, role_id,role_name,menu_id, 
      menu_name, uuid, create_user_name, 
      gmt_create, gmt_modified)
      values (#{id,jdbcType=BIGINT}, #{roleId,jdbcType=BIGINT}, #{roleName,jdbcType=VARCHAR},  #{menuId,jdbcType=BIGINT}, 
      #{menuName,jdbcType=VARCHAR}, #{uuid,jdbcType=VARCHAR}, #{createUserName,jdbcType=VARCHAR}, 
      #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP})
	</insert>
	<insert id="insertSelective" parameterType="cn.evake.auth.dao.model.SysRolePermission"  useGeneratedKeys="true" keyProperty="id">
    insert into sys_role_permission
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="id != null" >
        id,
			</if>
			<if test="roleId != null" >
        role_id,
			</if>
			<if test="roleName != null" >
        role_name,
			</if>
			<if test="menuId != null" >
        menu_id,
			</if>
			<if test="menuName != null" >
        menu_name,
			</if>
			<if test="uuid != null" >
        uuid,
			</if>
			<if test="createUserName != null" >
        create_user_name,
			</if>
			<if test="gmtCreate != null" >
        gmt_create,
			</if>
			<if test="gmtModified != null" >
        gmt_modified,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="id != null" >
        #{id,jdbcType=BIGINT},
			</if>
			<if test="roleId != null" >
        #{roleId,jdbcType=BIGINT},
			</if>
			<if test="roleName != null" >
        #{roleName,jdbcType=VARCHAR},
			</if>
			<if test="menuId != null" >
        #{menuId,jdbcType=BIGINT},
			</if>
			<if test="menuName != null" >
        #{menuName,jdbcType=VARCHAR},
			</if>
			<if test="uuid != null" >
        #{uuid,jdbcType=VARCHAR},
			</if>
			<if test="createUserName != null" >
        #{createUserName,jdbcType=VARCHAR},
			</if>
			<if test="gmtCreate != null" >
        #{gmtCreate,jdbcType=TIMESTAMP},
			</if>
			<if test="gmtModified != null" >
        #{gmtModified,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="cn.evake.auth.dao.model.SysRolePermission" >
    update sys_role_permission
		<set >
			<if test="roleId != null" >
        role_id = #{roleId,jdbcType=BIGINT},
			</if>
			<if test="roleName != null" >
        role_name = #{roleName,jdbcType=VARCHAR},
			</if>
			<if test="menuId != null" >
        menu_id = #{menuId,jdbcType=BIGINT},
			</if>
			<if test="menuName != null" >
        menu_name = #{menuName,jdbcType=VARCHAR},
			</if>
			<if test="uuid != null" >
        uuid = #{uuid,jdbcType=VARCHAR},
			</if>
			<if test="createUserName != null" >
        create_user_name = #{createUserName,jdbcType=VARCHAR},
			</if>
			<if test="gmtCreate != null" >
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
			</if>
			<if test="gmtModified != null" >
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
			</if>
		</set>
    where id = #{id,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey" parameterType="cn.evake.auth.dao.model.SysRolePermission" >
    update sys_role_permission
    set role_id = #{roleId,jdbcType=BIGINT},
      role_name = #{roleName,jdbcType=VARCHAR},
      menu_id = #{menuId,jdbcType=BIGINT},
      menu_name = #{menuName,jdbcType=VARCHAR},
      uuid = #{uuid,jdbcType=VARCHAR},
      create_user_name = #{createUserName,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
	</update>
	
	<!--以下为自定义查询数据-->
	<select id="selectByRoleIdAndMenuId" resultMap="BaseResultMap">
    select
		<include refid="Base_Column_List" />
    from sys_role_permission
    where role_id = #{roleId,jdbcType=BIGINT} and menu_id= #{menuId,jdbcType=BIGINT} limit 0,1
	</select>
	
	<select id="selectByRoleIds" resultMap="BaseResultMap">
    select
		<include refid="Base_Column_List" />
    from sys_role_permission
		<if test="list.size() > 0"> 
			where role_id in  
			<foreach collection="list" index="index" item="item" open="(" separator="," close=")">  
            #{item}  
			</foreach>
		</if>
		<if test="list.size() == 0"> 
    	    where role_id=0
		</if>
	</select>
	
	<select id="selectByRoleId" resultMap="BaseResultMap">
       select
		<include refid="Base_Column_List" />
       from sys_role_permission
		where role_id=#{roleId,jdbcType=BIGINT}
	</select>
	
	<!--批量插入-->
	<insert id="insertBatch" parameterType="java.util.List" useGeneratedKeys="true">
		<selectKey resultType="long" keyProperty="id" order="AFTER">
            SELECT
            LAST_INSERT_ID()
		</selectKey>
        insert into sys_role_permission
		( role_id,role_name,menu_id, 
          menu_name, uuid, create_user_name, 
          gmt_create, gmt_modified)
          values
		<foreach collection="list" item="item" index="index"
			separator=",">
           (#{item.roleId,jdbcType=BIGINT}, #{item.roleName,jdbcType=VARCHAR},  #{item.menuId,jdbcType=BIGINT}, 
           #{item.menuName,jdbcType=VARCHAR}, #{item.uuid,jdbcType=VARCHAR}, #{item.createUserName,jdbcType=VARCHAR}, 
           #{item.gmtCreate,jdbcType=TIMESTAMP}, #{item.gmtModified,jdbcType=TIMESTAMP})
		</foreach>
	</insert>
	
</mapper>