
<!-- 框架栏目 -->
<!-- Navbar-->
<header class="app-header">
	<a class="app-header__logo" href=""><img alt="消息发送系统"
		src="/assets/v2.0/img/icon_xiaoxi.png">搜索引擎</a>
	<!-- Sidebar toggle button-->
	<a class="app-sidebar__toggle" href="#" data-toggle="sidebar"
		aria-label="Hide Sidebar"></a>
	<!-- 右边栏目操控菜单-->
	<ul class="app-nav">
		<li class="app-search"></li>
		<!-- User Menu-->
		<li class="dropdown"><a class="app-nav__item" href="#"
			data-toggle="dropdown" aria-label="Open Profile Menu"><i
				class="fa fa-user fa-lg"></i></a></li>
	</ul>
</header>
<!-- Sidebar menu-->
<div class="app-sidebar__overlay" data-toggle="sidebar"></div>
<aside class="app-sidebar">
	<ul class="app-menu">
		<li><a class="app-menu__item" href="#"
			data-href="/pages/app/app_list"><i
				class="app-menu__icon fa fa-dashboard"></i><span
				class="app-menu__label">应用管理</span></a></li>
		<li><a class="app-menu__item" href="#"
			data-href="/pages/template/indexes_list"><i
				class="app-menu__icon fa fa-pie-chart"></i><span
				class="app-menu__label">索引模板</span></a></li>
		<li><a class="app-menu__item" href="#"
			data-href="/pages/search_temp/search_list"><i
				class="app-menu__icon fa fa-file-text"></i><span
				class="app-menu__label">搜索模板</span></a></li>
     	<li><a class="app-menu__item" href="#"
			data-href="/swagger-ui.html"><i
				class="app-menu__icon fa fa-laptop"></i><span
				class="app-menu__label">swagger</span></a></li>	
        <li><a class="app-menu__item" href="#"
			data-href="http://www.baidu.com"><i
				class="app-menu__icon fa fa-laptop"></i><span
				class="app-menu__label">百度</span></a></li>			
	</ul>
</aside>
