<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>报名列表</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta http-equiv="pragma" content="no-cache" />
		<meta http-equiv="Cache-Control" content="no-cache, must-revalidate" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link rel="stylesheet" href="/assets/common/layui/css/layui.css" media="all" />
		<link rel="stylesheet" href="/assets/common/css/public.css" media="all" />
		<style>
			.layui-form-item .layui-input-inline {
				margin-right: 0
			}
			
			.layui-form-label {
				padding: 9px 10px 0 0;
			}
			
			.layui-form-item {
				margin-bottom: 10px
			}
			table{
			width:100%!important;
			}
			.width180{
				width:180px!important;
			}
			.width180 input{
				width:180px!important;
			}
			.width80{
				width:80px!important;
			}
			.width80 input{
				width:80px!important;
			}

			
		</style>
	</head>

	<body class="childrenBody">
		<blockquote class="layui-elem-quote quoteBox">
			<form class="layui-form">
				<div class='layui-form-item'>

					<div class="layui-inline">
						<label class="layui-form-label">承办编号</label>
						<div class="layui-inline width180">
							<input class="layui-input" id="unitCode" placeholder="承办编号" autocomplete="off">
						</div>
					</div>

					<div class="layui-inline">
						<label class="layui-form-label">运动员</label>
						<div class="layui-inline width180">
							<input class="layui-input" id="player" placeholder="运动员名称/编号" autocomplete="off">
						</div>
					</div>

					<div class="layui-inline">
						<label class="layui-form-label">赛事</label>
						<div class="layui-inline width180">
							<input class="layui-input" id="match" placeholder="赛事名称/编号" autocomplete="off">
						</div>
					</div>

					<div class="layui-inline">
						<label class="layui-form-label">手机号</label>
						<div class="layui-inline width180">
							<input class="layui-input" id="playerPhone" placeholder="运动员手机号" autocomplete="off">
						</div>
					</div>
					
					<div class="layui-inline">
						<label class="layui-form-label">来源</label>
						
						<div class="layui-input-inline width180">
							<select name="select-main" id="source">
								<option value="">全部</option>
								<option value="1">接口</option>
								<option value="0">官网</option>
							</select>
						</div>
					</div>
				

					<div class="layui-inline">
						<label class="layui-form-label">开始时间</label>
						<div class="layui-input-inline width180">
							<input type="text" id="startTime" autocomplete="off" class="layui-input">
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">结束时间</label>
						<div class="layui-input-inline width180">
							<input type="text" id="endTime" autocomplete="off" class="layui-input">
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">排序名称</label>
						<div class="layui-input-inline width180">
							<select name="select-main" id="sortField" lay-filter="sortField">
								<option value="">默认 </option>
								<option value="applyTime">报名时间</option>
								<option value="gmtCreate">创建时间</option>
							</select>
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">排序方式</label>
						<div class="layui-input-inline width80">
							<select name="select-main" id="sortOrder" lay-filter="sortOrder">
								<option value="">默认</option>
								<option value="asc">升序</option>
								<option value="desc">降序</option>
							</select>
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-btn" id="search" style='margin-left: 20px'>搜索</label>
					</div>
					<div class="layui-inline">
						<label class="layui-btn" id="importCurrPage" style='margin-left: 20px'>导出当前页</label>
					</div>
					<div class="layui-inline">
						<label class="layui-btn" id="importAllPage" style='margin-left: 20px'>导出所有页</label>
					</div>
				</div>
			</form>
		</blockquote>
		</div>
		<table class="layui-hide" id="demo" lay-filter="demo"></table>
		<input type="hidden" id="count">
	</body>
	<script type="text/html" id="listBar">
		<div class="layui-btn-group">
			<button class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit">
    			<i class="layui-icon">&#xe647</i>详情
  			</button>
		</div>
	</script>
	<script type="text/html" id="liquidationSta">
		{{# if(d.liquidationStatus == '已结算'){ }}
		<span style="color: #5cb85c;">{{d.liquidationStatus}}</span> {{# } else if(d.liquidationStatus == '待结算'){ }}
		<span style="color: #FF5722;">{{d.liquidationStatus}}</span> {{# } else { }} {{d.liquidationStatus}} {{# } }}
	</script>
	<script id="endDate" type="text/html">
		{{getDate(d.endDate)}}
	</script>
	<script type="text/javascript">
		function getDate(tm) {
			var date = new Date(tm);
			return date.getFullYear() + "-" + (date.getMonth() + 1) + "-" +
				date.getDate()+' '+date.getHours()+':'+date.getMinutes()+':'+date.getSeconds();
		}
	</script>
<script id="remitTimeT" type="text/html">  
    {{getDate(d.applyTime)}}   
</script>
	<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
	<script type="text/javascript" src="/assets/common/layui/layui.js"></script>
	<script>
		var width,height,indexclose;
		if(document.body.clientWidth<1500){
			width='680px';
			height="450px";
		}else{
			width='680px';
			height="750px";
		}
		var realPath = "${ctx}";
		var dataApi = realPath + "/dmp/api/player/list";
		layui.use(['table', 'form', 'layedit', 'laydate'], function() {
			var table = layui.table;
			var form = layui.form;
			var layedit = layui.layedit;
			var laydate = layui.laydate;
			var limit = 10;
			var page = 1;
			var count=0;
			//日期
			laydate.render({
				elem: '#startTime'
			});
			laydate.render({
				elem: '#endTime'
			});
			//展示已知数据
			indexclose = layer.load(2, {shade: false}); //0代表加载的风格，支持0-2
			table.render({
				elem: '#demo',
				id: 'tableDemo',
				url: dataApi + "?timestamp=" + (new Date()).valueOf(), //数据接口
				cols: [
					[ {
							field: 'playerName',
							title: '运动员名称',
							fixed:'left',
							width:120
						},{
							field: 'applyTimeStr',
							title: '报名时间',
							width:160
						}, {
							field: 'playerPhone',
							title: '运动员电话',
							width:120
						},
						{
							field: 'playerNation',
							width: 60,
							title: '民族'
						},
						 {
							field: 'gameName',
							title: '项目名称',
							width:140
						}, {
							field: 'matchName',
							title: '赛事名称',
							width:240
						}, {
							field: 'matchGroupName',
							title: '分组名称',
							width:120
						}, {
							field: 'eventName',
							title: '比赛项名称',
							width:200
						}, {
							field: 'channelCode',
							title: '渠道编号',
							width:100,
							templet:function(d){
								if(d.channelCode=='zntyydh'){
									return '<span>官网</span>'
								}else if(d.channelCode=='import'){
									return '<span>系统导入</span>'
								}else{
									return '<span>'+d.channelCode+'</span>'
								}
								
							}
						},
						{
							field: 'eventType',
							title: '报名类型',
							width:100,
							templet: function(d) {
								
								if(d.eventType=='personal'){
									return '<button class="layui-btn" style="line-height:29px;height:28px;">个人</button>'
								}
								if(d.eventType=='group'){
									return '<button class="layui-btn layui-btn-normal" style="line-height:29px;height:28px;">团体</button>'
								}
							}
						},
						{
							field: 'unitCode',
							title: '承办方',
							width: 140
						},
						 {
							title: '操作',  
							templet:'#listBar',
							fixed:"right",
							align:"center",
							width: 100
						} 
					]
				],
				skin: 'line', //表格风格
				even: true,
				page: true, //是否显示分页
				limits: [10, 20, 30, 50, 100],
				limit: 10, //每页默认显示的数量
				done: function(res, curr, count) {
					if(res.code==0){
						count=count;
						$("#count").val(count);
						layer.close(indexclose);
						if(res.data != null) {
							limit = res.data.length;
							page = curr
						}
						if(res.unitCode != null) {
							//设置承办编号
							$('#unitCode').val(res.unitCode);
							$('#unitCode').attr("readonly", "readonly");
							$('#unitCode').attr("disabled", "disabled");
						}
					}else{
						layer.close(indexclose);
						setTimeout(function() {
							layui.layer.tips(res.errorMsg, '.layui-layer-setwin .layui-layer-close', {
								tips: 3
							});
						}, 100)
					}
				}
			});

			table.on('tool(demo)', function(obj) {
				var layEvent = obj.event,
					data = obj.data;

				if(layEvent === 'edit') { //编辑
					var index = layui.layer.open({
						title: "详情",
						type: 2,
						content: "playerInfo.html",
						id: 'playerInfo',
						area: [width, height],
						zIndex: layer.zIndex,
						success: function(layero, index) {
							var body = layui.layer.getChildFrame('body', index);
							if(data) {
								//编辑
								body.find('#callLogId').val(JSON.stringify(data));
								//body.find(".addBtn").hide();
								body.find('#btn').click();
							}
							setTimeout(function() {
								layui.layer.tips('点击此处返回列表', '.layui-layer-setwin .layui-layer-close', {
									tips: 3
								});
							}, 500)
						}
					})
				}
			});
			
			$('#search').on('click', function() {
				var unitCode = $('#unitCode').val();
				var match = $('#match').val();
				var player = $('#player').val();
				var playerPhone = $('#playerPhone').val();
				var startTime = $('#startTime').val();
				var endTime = $('#endTime').val();
				var source=$("#source").val();
				var sortField=$("#sortField").val();
				var sortOrder=$("#sortOrder").val();
				indexclose = layer.load(2, {shade: false});
				table.reload('tableDemo', {
					page: {
						curr: 1
					},
					where: {
						unitCode: unitCode,
						match: match,
						player: player,
						playerPhone: playerPhone,
						source:source,
						startTime: startTime,
						endTime: endTime,
						sortField:sortField,
						sortOrder:sortOrder,
						timestamp: (new Date()).valueOf()
					},
					url: dataApi,
					done: function(res, curr, count) {
						count=count;
						$("#count").val(count);
						layer.close(indexclose);
						
						form.render("select");
						if(res.data != null) {
							limit = res.data.length;
							page = curr
						}
					}
				});
			});
			
			$("#importCurrPage").click(function(){
				//var indexclose = layer.load(2, {shade: false});
				var index = layer.msg('文件正在下载，请稍候',{icon: 16,time:false,shade:0.8});
				var unitCode = $('#unitCode').val();
				var match = $('#match').val();
				var player = $('#player').val();
				var playerPhone = $('#playerPhone').val();
				var startTime = $('#startTime').val();
				var endTime = $('#endTime').val();
				var source=$("#source").val();
				var sortField=$("#sortField").val();
				var sortOrder=$("#sortOrder").val();
				var url=realPath+"/dmp/api/player/export?unitCode="+unitCode+"&match="+match+"&player="+player+"&playerPhone="+playerPhone+"&startTime="+startTime+"&endTime="+endTime+"&source="+source+"&sortField="+sortField+"&sortOrder="+sortOrder+"&page="+page+"&exportAll=false&timestamp=" + (new Date()).valueOf();
				XMLHttp(url,index);
			})
			
			$("#importAllPage").click(function(){
				console.log(count,"count")
				
				var unitCode = $('#unitCode').val();
				var match = $('#match').val();
				var player = $('#player').val();
				var playerPhone = $('#playerPhone').val();
				var startTime = $('#startTime').val();
				var endTime = $('#endTime').val();
				var source=$("#source").val();
				var sortField=$("#sortField").val();
				var sortOrder=$("#sortOrder").val();
		        var url = realPath+"/dmp/api/player/export?unitCode="+unitCode+"&match="+match+"&player="+player+"&playerPhone="+playerPhone+"&startTime="+startTime+"&endTime="+endTime+"&source="+source+"&sortField="+sortField+"&sortOrder="+sortOrder+"&exportAll=true&timestamp=" + (new Date()).valueOf();
		         if($("#count").val()>10000){
		        	 layer.open({
		        		  content: '所有数据大于10000条，我们将只导出最近的10000条数据',
		        		  yes: function(i, layero){
		        		    //do something
		        		    layer.close(i); //如果设定了yes回调，需进行手工关闭
		        		    var index = layer.msg('文件正在下载，请稍候',{icon: 16,time:false,shade:0.8});
		        		    XMLHttp(url,index);
		        		  }
		        		}); 
				}else{
					var index = layer.msg('文件正在下载，请稍候',{icon: 16,time:false,shade:0.8});
        		    XMLHttp(url,index);
				}
			}) 
			function XMLHttp(url,index){
				 var xhr = new XMLHttpRequest();
			        xhr.open('GET', url, true);    // 也可以使用POST方式，根据接口
			        xhr.responseType = 'blob';  
			        
			        xhr.onload = function () {
			            if (this.status === 200) {
			                var blob = this.response;
			                var reader = new FileReader();
			               reader.readAsDataURL(blob);    
			                reader.onload = function (e) {
			                    layer.close(index);
			                    var headerName = xhr.getResponseHeader("Content-disposition");
			                    var fileName = decodeURIComponent(headerName).substring(20);
			                   // alert(fileName);
			                 	if(xhr.getResponseHeader("Content-Type").search("excel")){
			                 		layer.msg("下载成功");
			                 	}else{
			                 		layer.msg("下载失败");
			                 	}
			                    var a = document.createElement('a');
			                    a.download = fileName;
			                    a.href = e.target.result;
			                    $("body").append(a);    // 修复firefox中无法触发click
			                    a.click();
			                    $(a).remove();
			                }
			            }
			        };
			        xhr.send()
			}
		});
	</script>

</html>