<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
<title>订单列表</title>
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta http-equiv="pragma" content="no-cache" />
<meta http-equiv="Cache-Control" content="no-cache, must-revalidate" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="stylesheet" href="/assets/common/layui/css/layui.css"
	media="all" />
<link rel="stylesheet" href="/assets/common/css/public.css" media="all" />
<style>
.layui-form-item .layui-input-inline {
	margin-right: 0
}

.layui-form-label {
	padding: 9px 10px 0 0;
}

.layui-form-item {
	margin-bottom: 10px
}

table {
	width: 100% !important;
}

.width180 {
	width: 180px !important;
}

.width180 input {
	width: 180px !important;
}

.width80 {
	width: 80px !important;
}

.width80 input {
	width: 80px !important;
}
</style>
</head>

<body class="childrenBody">
	<blockquote class="layui-elem-quote quoteBox">
		<form class="layui-form">
			<div class='layui-form-item'>

				<div class="layui-inline">
					<label class="layui-form-label">开始时间</label>
					<div class="layui-inline width182">
						<input class="layui-input" id="startTime" placeholder="请选择开始时间"
							autocomplete="off">
					</div>
				</div>
				<div class="layui-inline">
					<label class="layui-form-label">结束时间</label>
					<div class="layui-inline width182">
						<input class="layui-input" id="endTime" placeholder="请选择结束时间"
							autocomplete="off">
					</div>
				</div>
				<div class="layui-inline">
					<label class="layui-form-label">订单状态</label>

					<div class="layui-input-inline width180">
						<select name="select-main" id="orderStatus">
							<option value="">全部</option>
							<option value="WAIT_PAY">待支付</option>
							<option value="SUCCESS">已支付</option>
							<option value="SHIPPED">已发货</option>
							<option value="COMPLETED">已完成</option>
						</select>
					</div>
				</div>
				<div class="layui-inline">
					<label class="layui-btn" id="search" style='margin-left: 20px'>搜索</label>
				</div>
				<div class="layui-inline">
					<label class="layui-btn" id="exportCurrPage"
						style='margin-left: 20px'>导出当前页</label>
				</div>
				<div class="layui-inline">
					<label class="layui-btn" id="exportAllPage"
						style='margin-left: 20px'>导出所有页</label>
				</div>
			</div>
		</form>
	</blockquote>

	<table class="layui-hide" id="demo" lay-filter="demo"></table>

</body>
<script type="text/html" id="listBar">
		<div class="layui-btn-group">
			<button class="layui-btn layui-btn-primary layui-btn-xs" lay-event="sendOrder">
    			<i class="layui-icon">&#xe647</i>发货
  			</button>
		</div>
	</script>
<script id="orderTime" type="text/html">
	{{getDate(d.orderTime)}}
</script>
<script id="optTime" type="text/html">
	{{getDate(d.optTime)}}
</script>
<script type="text/javascript">
	function getDate(tm) {
		if (tm == null)
			return "-";
		var date = new Date(tm);
		return date.getFullYear() + "-" + (date.getMonth() + 1) + "-"
				+ date.getDate() + ' ' + date.getHours() + ':'
				+ date.getMinutes() + ':' + date.getSeconds();
	}
</script>
<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
<script type="text/javascript" src="/assets/common/layui/layui.js"></script>
<script>
	var width, height, indexclose;
	if (document.body.clientWidth < 1500) {
		width = '780px';
		height = "600px";
	} else {
		width = '880px';
		height = "750px";
	}
	var realPath = "${ctx}";
	var dataApi = realPath + "/dmp/api/shop/order/list";
	layui.use([ 'table', 'form', 'layedit', 'laydate' ], function() {
		var table = layui.table;
		var form = layui.form;
		var layedit = layui.layedit;
		var laydate = layui.laydate;
		var limit = 10;
		var page = 1;
		var count = 0;
		//日期
		laydate.render({
			elem : '#startTime'
		});
		laydate.render({
			elem : '#endTime'
		});
		//展示已知数据
		indexclose = layer.load(2, {
			shade : false
		}); //0代表加载的风格，支持0-2
		table.render({
			elem : '#demo',
			id : 'tableDemo',
			url : dataApi + "?timestamp=" + (new Date()).valueOf(), //数据接口
			cols : [ [ {
				field : 'orderCode',
				title : '订单编号',
				width : 200,
				fixed : "left"
			}, {
				field : 'orderTime',
				title : '订单时间',
				width : 160,
				templet : '#orderTime'
			}, {
				field : 'orderStatus',
				title : '订单状态',
				width : 120,
				templet : function(row) {
					var orderStatus = row.orderStatus;
					if ("wait_pay" == orderStatus)
						return "待支付";
					if ("success" == orderStatus)
						return "已支付";
					if ("shipped" == orderStatus)
						return "已发货";
					if ("completed" == orderStatus)
						return "已完成";
				}
			}, {
				field : 'optTime',
				title : '发货时间',
				width : 160,
				templet : '#optTime'
			}, {
				field : 'goodsNum',
				title : '购买数量',
				width : 100
			}, {
				field : 'loginPhone',
				title : '购买id',
				width : 150
			}, {
				field : 'realname',
				title : '用户姓名',
				width : 100
			}, {
				field : 'mobile',
				title : '用户电话',
				width : 150
			}, {
				field : 'address',
				title : '用户地址',
				width : 200,
				templet : function(row) {
					var province = row.province || '';
					var city = row.city || '';
					var area = row.area || '';
					var address = row.address || '';
					return province + " " + city + " " + area + " " + address;
				}
			}, {
				field : 'remark',
				title : '备注',
				width : 180
			}, {
				title : '操作',
				templet : '#listBar',
				width : 100,
				fixed : 'right'
			} ] ],
			skin : 'line', //表格风格
			even : true,
			page : true, //是否显示分页
			limits : [ 10, 20, 30, 50, 100 ],
			limit : 10, //每页默认显示的数量
			done : function(res, curr, count) {
				if (res.code == 0) {
					count = count;
					$("#count").val(count);
					layer.close(indexclose);
					if (res.data != null) {
						limit = res.data.length;
						page = curr
					}

				} else {
					layer.close(indexclose);
					setTimeout(function() {
						layui.layer.tips(res.errorMsg,
								'.layui-layer-setwin .layui-layer-close', {
									tips : 3
								});
					}, 100)
				}
			}
		});
		table.on('tool(demo)', function(obj) {
			var layEvent = obj.event, data = obj.data;

			if (layEvent === 'sendOrder') {
				var url = realPath + "/dmp/api/shop/order/send";

				var index = layer.load(2, {
					shade : 0.01
				});
				$.ajax({
					url : url,
					data : {
						id : data.id
					},
					type : 'post',
					dataType : 'json',
					cache : false,
					success : function(d) {
						layer.close(index);
						if (d.resultCode == 200) {
							layer.msg("发货成功");
							search();
						} else {
							layer.msg(d.resultMsg);
						}
					},
					error : function() {
						layer.close(index);
						layer.msg("请求出错");
					}
				});
			}
		});

		var search = function() {
			var startTime = $('#startTime').val();
			var endTime = $('#endTime').val();
			var orderStatus = $("#orderStatus").val();
			indexclose = layer.load(2, {
				shade : false
			});
			table.reload('tableDemo', {
				page : {
					curr : page
				},
				where : {
					startTime : startTime,
					endTime : endTime,
					orderStatus : orderStatus,
					timestamp : (new Date()).valueOf()
				},
				url : dataApi,
				done : function(res, curr, count) {
					count = count;
					$("#count").val(count);
					layer.close(indexclose);

					form.render("select");
					if (res.data != null) {
						limit = res.data.length;
						page = curr
					}
				}
			});
		};

		//搜索
		$('#search').on('click', search);
		//导出
		$("#exportCurrPage").click(
				function() {
					//var indexclose = layer.load(2, {shade: false});
					var index = layer.msg('文件正在下载，请稍候', {
						icon : 16,
						time : false,
						shade : 0.8
					});
					var startTime = $('#startTime').val();
					var endTime = $('#endTime').val();
					var orderStatus = $("#orderStatus").val();
					var url = realPath
							+ "/dmp/api/shop/order/export?startTime="
							+ startTime + "&endTime=" + endTime +"&orderStatus="+orderStatus+ "&page="
							+ page + "&exportAll=false&timestamp="
							+ (new Date()).valueOf();
					XMLHttp(url, index);
				})

		$("#exportAllPage").click(
				function() {
					console.log(count, "count")
					var startTime = $('#startTime').val();
					var endTime = $('#endTime').val();
					var orderStatus = $("#orderStatus").val();
					var url = realPath
							+ "/dmp/api/shop/order/export?startTime="
							+ startTime + "&endTime=" + endTime +"&orderStatus="+orderStatus+ "&page="
							+ page + "&exportAll=true&timestamp="
							+ (new Date()).valueOf();
					if ($("#count").val() > 10000) {
						layer.open({
							content : '所有数据大于10000条，我们将只导出最近的10000条数据',
							yes : function(i, layero) {
								layer.close(i); //如果设定了yes回调，需进行手工关闭
								var index = layer.msg('文件正在下载，请稍候', {
									icon : 16,
									time : false,
									shade : 0.8
								});
								XMLHttp(url, index);
							}
						});
					} else {
						var index = layer.msg('文件正在下载，请稍候', {
							icon : 16,
							time : false,
							shade : 0.8
						});
						XMLHttp(url, index);
					}
				})
		//导出提示
		function XMLHttp(url, index) {
			var xhr = new XMLHttpRequest();
			xhr.open('GET', url, true); // 也可以使用POST方式，根据接口
			xhr.responseType = 'blob';

			xhr.onload = function() {
				if (this.status === 200) {
					var blob = this.response;
					var reader = new FileReader();
					reader.readAsDataURL(blob);
					reader.onload = function(e) {
						layer.close(index);
						var headerName = xhr
								.getResponseHeader("Content-disposition");
						var fileName = decodeURIComponent(headerName)
								.substring(20);
						// alert(fileName);
						if (xhr.getResponseHeader("Content-Type").search(
								"excel")) {
							layer.msg("下载成功");
						} else {
							layer.msg("下载失败");
						}
						var a = document.createElement('a');
						a.download = fileName;
						a.href = e.target.result;
						$("body").append(a); // 修复firefox中无法触发click
						a.click();
						$(a).remove();
					}
				}
			};
			xhr.send()
		}
	});
</script>

</html>