<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="inital-scale=1.0,user-scalable=yes;">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>500</title>

    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="${stx}/css/layout.css" rel="stylesheet">
    <style>
        html,body{height: 100%;width: 100%;}
    </style>
</head>
<body>
<div class="error-page" >
    <div class="error-content-400">
        <div class="error-text">
            <p>您访问的页面由于网络连接原因发生错误，我们将尽快解决该问题。谢谢您的访问！</p>
            <p class="error-btn">
                <a href="${ctx}/match/type"><i></i>返回上一页</a>
                <span>|</span>
                <a href="${ctx}/match/type">前往首页</a>
            </p>
        </div>
    </div>
</div>
</body>
</html>
