<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>关于我们</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="inital-scale=1.0,user-scalable=yes;">
<meta name="description" content="">
<meta name="author" content="">
<title>关于我们</title>

<!-- Custom styles for this template -->
<link href="${stx}/css/layout.css" rel="stylesheet">
<!-- <link href="${stx}/css/page.css" rel="stylesheet"> -->
<link href="${stx}/css/pagination.css" rel="stylesheet">
<link rel="stylesheet" href="${stx}/laydate/theme/default/laydate.css">
<link rel="stylesheet" href="${stx}/layui/css/layui.css"  media="all">
<style>
   body{background:url(${stx}/img/bg_baoming.jpg) repeat; width: 100%;height: 100%;}
  </style>
</head>
<body>
       <div class="content_height">
        <#include "common/nav.html">
		<div class="content_msy container clear registration_content">
             <#include "common/left_menu.html">
			 <div class="aside_content pull-right" style="height:600px;">
			 	<p class="top_title clear">
			 	    <span class=" my_kf"><img src="${stx}/img/icon_xq_hq.png">关于我们</span>
			 	</p>
			 				 	
                <div class="about_us">
                     <ul>
                        <li>
                          2018年1月，国家体育总局批准由中华全国体育总会主办，浙江省体育局承办首届全国智能体育大赛，浙江省体育局正式同意华运智体产业运营管理（浙江）有限公司作为首届全国智能体育大赛执行单位，负责赛事组织和运营。
                        </li>
						 <li>
						 全国智能体育大赛，是国家体育总局的智能体育唯一赛事IP，也是智能体育领域最大的综合性赛事、智能体育领域内最高的技术水平与竞技水平的展示平台。
						 首届智能体育大赛将于2018年在全国范围内展开，总决赛将于今年11月在浙江杭州举行。智能体育大赛旨在通过政府引导，撬动市场要素广泛参与，
						 集众人之力推动智体产业发展。运动会以新型科技手段和社交体验，实现国家全民健身的战略目的。旨在打造一个全民参与的智能体育运动平台，
						 以远程互动与场馆游戏相结合的形式增强体育锻炼的趣味性，并通过互联网社交平台进行全国排名与社交网络共享，使该项目对用户产生强大的吸引力和受众粘性，
						 最终达到突破时间、空间限制，不受气候、场地局限，实现全民健身的目的。
						 </li>
						
						</ul>
                     <p>
				                     邮箱：smartsport@zntyydh.com<br>
						电话：0571-88781970<br>
						工作时间：周一至周日（9:00-21:00）<br>
		              </p>
                </div>
			 </div>
		</div>	
			<div class="footer footer_bottom">
	    	 <div class="container clear">
	    	 	  <div class="pull-left">
	    	 	  	   <p class="footer_nav">
	    	 	  	   	  <a href="http://www.zntyydh.com/index.jsp">首页</a>  |  
	    	 	  	   	  <a href="http://www.zntyydh.com/col.jsp?id=114">新闻中心</a>  |  
	    	 	  	   	  <a href="http://www.zntyydh.com/col.jsp?id=107">赛事信息</a>   |   
	    	 	  	   	  <a href="http://www.zntyydh.com/col.jsp?id=109">智体百科</a>  |   
	    	 	  	   	  <a href="http://www.zntyydh.com/col.jsp?id=105">全球征集</a>  |  
	    	 	  	   	  <a href="http://www.zntyydh.com/col.jsp?id=106"> 联系我们</a>
	    	 	  	   </p>
	    	 	  	   <p class="simpleText">
	    	 	  	   	浙ICP备18028500号-1<br>
                                                版权所有：全国智能体育大赛 未经授权不得使用
	    	 	  	   </p>
	    	 	  </div>
	    	 	  <div class="pull-right footer_code">
	    	 	       <img src="${ctx}/img/img_footer.png">
	    	 	  </div>
	    	 </div>
		   </div>
		   </div>
</body>
<script src="${stx}/js/jquery-2.1.1.min.js"></script>
<script src="${stx}/js/vue.js"></script>
<script src="${stx}/js/config.js"></script>
<script>
    $(function(){
    	$("#aboutUs").addClass("active");
    	$("#aboutUsem").addClass("active");
    })
</script>
</html>