<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>成绩赛事查询列表</title>
 <link href="${stx}/css/layout.css" rel="stylesheet">
  <style>
   [v-cloak] {
	  display: none;
	}

 </style>
</head>
<body  class="index_backimg">
		<#include "common/alert.html">
		<div class="main_content content_height" >
             <div class="header nav_top">
				    <div class="container clear">
						   	  	<a  href="${ctx}/match/type"  class="pull-left back_index"></a>
						  	   <div class="code_aside pull-right">
					 	  	   	<p class="pull-left hidden-xs clear">
					 	  	   	    <a class="qr_code" href="${ctx}/match/type">
					 	  	   	    	参赛报名
					 	  	   	    </a> 
					 	  	   	    <a class="qr_code hover_q" id="Resultinquiry" href="javascript:window.location.href='${ctx}/achievement/match/init'">
					 	  	   	    	成绩查询
					 	  	   	    </a>
					 	  	   	    
					 	  	   	    <a class="qr_code" href="javascript:window.location.href='${ctx}/order/query'">
					 	  	   	    	报名查询
					 	  	   	    </a>

					 	  	   	     <a class="app_link" href="javascript:window.location.href='${ctx}/user/upload/page'">
					 	  	   	    	
					 	  	   	    </a>
					 	  	   	</p>
					 	  	   	
					 	  	 	<p class="login_btn pull-left hidden-xs clear">
					 	  	   		<#if register??>
					 	  	   			<span class="user_head">
					 	  	   			<#if register.headimgUrl?default("")?trim?length gt 1>
					 	  	   				<img style="cursor:pointer" onClick="javascript:window.location.href='${ctx}/order/query'" src="${register.headimgUrl}">
					 	  	   			<#else>
						 	  	   			<img  onClick="javascript:window.location.href='${ctx}/order/query'" src="${stx}/img/icon_user.png">				 	  	   			
						 	  	   		</#if>
					 	  	   		        <span class="hover">
					 	  	   		              <a class="first" href="javascript:window.location.href='${ctx}/order/query'">个人中心</a>
					 	  	   		              <a href="${ctx}/user/quit/login">退出登录</a>
					 	  	   		        </span> 	  	   		   
					 	  	   		   </span>
					 	  	   		<#else>
						 	  	   		 <a class="enroll_btn" href="${ctx}/user/login/index">登 录</a>
					 	  	   		</#if>
					 	  	   	</p>
						  	   </div>
						  </div>
				 </div>
                <div id="order_content" v-cloak>
	                <div class="drop_menu drop_menu_top">
		            	 <div class="container menu_list">
		            	 	  <a v-for="(tab , index) in Matchtab" :class="{active: indexs == index}"  @click="navTap(index, tab.gameCode)" >
		            	 	  <i v-if="indexs == index"><img src="${stx}/img/icon_hongq.png"></i>[[tab.gameName]]</a>
		            	 </div>
	                </div>
        
		     
		   		<div class="match_content clear" id="listContent">
		    	 <div class="container clear">
		    	 	  <div class="card_match" v-for="(ListData,index) in MatchListData">
		    	 	      <div class="match_h card_box_hover">
		    	 	  	   <div class="card_box">
		    	 	  	   	    <div class="card_top" @click="scorequery(ListData.matchCode)">
		    	 	  	   	    	  <img :src="ListData.matchImg" />
		    	 	  	   	    </div>
		    	 	  	   	    <div class="card_bottom">
		    	 	  	   	    	<p class="p1"><span class="icon_b1"></span>[[ListData.matchName]]</p>
		    	 	  	   	    	<p class="p2"><span class="icon_b2"></span>比赛时间：[[ListData.startTimeStr]]至[[ListData.endTimeStr]]</p>
		    	 	  	   	    	 <p class="match_btn"><a class="first" @click="goDetail(ListData.matchCode)">赛事介绍</a>
		    	 	  	   	    	 <a @click="scorequery(ListData.matchCode)"   target='_blank'>成绩查询</a>
		    	 	  	   	    	</p>
		    	 	  	   	    </div>
		    	 	  	   </div>
		    	 	  	</div>	
		    	 	  </div>	    	 	  			    	 	  	
		    	 </div>
		    	 
     	 		<div v-if="!MatchListData.length" class="no_data">
 	  	    	 	<img src="${stx}/img/img_dsj_weikong.png">
 	  	    	    <p class="index_nodata">尊敬的用户：<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;该项目下暂未公布相关成绩，敬请期待。</p>
 	  	    	</div>  
		    </div>
	
	         <p  class="end_text"><img src="${stx}/img/img_jxw.png">已经到底啦~</p>
		   </div>	
          
          <div class="footer footer_bottom">
	    	 <div class="container clear">
	    	 	  <div class="pull-left">
	    	 	  	   <p class="footer_nav">
	    	 	  	   	  <a href="http://www.zntyydh.com/index.jsp">首页</a>  |  
	    	 	  	   	  <a href="http://www.zntyydh.com/col.jsp?id=114">新闻中心</a>  |  
	    	 	  	   	  <a href="http://www.zntyydh.com/col.jsp?id=107">赛事信息</a>   |   
	    	 	  	   	  <a href="http://www.zntyydh.com/col.jsp?id=109">智体百科</a>  |   
	    	 	  	   	  <a href="http://www.zntyydh.com/col.jsp?id=105">全球征集</a>  |  
	    	 	  	   	  <a href="http://www.zntyydh.com/col.jsp?id=106"> 联系我们</a>
	    	 	  	   </p>
	    	 	  	   <p class="simpleText">
	    	 	  	   	浙ICP备18028500号-1<br>
                                                版权所有：全国智能体育大赛 未经授权不得使用
	    	 	  	   </p>
	    	 	  </div>
	    	 	  <div class="pull-right footer_code">
	    	 	       <img src="${ctx}/img/img_footer.png">
	    	 	  </div>
	    	 </div>
		   </div>
		</div>
</body>

	<script src="${stx}/js/jquery-2.1.1.min.js"></script>
	<script src="${stx}/js/vue.js"></script>
	<script src="${stx}/js/config.js"></script>
	
	<script>
			
var vm = null;       //全局声明vue对象
	
	var vueData = {			
		Matchtab:[],
		MatchListData:[],
		gameCode: '',
		indexs:0,
		more:[],
		pageNum: 1,
		pageSize: 12,
		gameCode:'',
	};
	
	/**
	 * 页面加载完毕 $.ready
	 */
	$(function(){
	
	    vueInit();
	    GetMatchData();

	});
	


	 /**
	  * vue初始化，dom操作
	  */
	  
	//Vue.config.delimiters = ['${', '}$'];
	  function vueInit () {
		 vm = new Vue({
			 delimiters: ['[[', ']]'],
			 el:"#order_content",
			 data:vueData ,
			 methods:{
				 navTap: navTap,
				 goDetail:goDetail,
				 scorequery:scorequery,
			 },
			 created(){
				$(window).scroll(function() {
					var scrollTop = $(this).scrollTop();
				    var scrollHeight = $(document).height();
				    var windowHeight = $(this).height();
				    if (scrollTop + windowHeight === scrollHeight) {
				    	vueData.pageNum++;
				        getDatalists(true); // 执行增加页面数据操作
				    };
				});
			 },
			 		 			 			 
		 });
	};
    
    
    function createTimestamp() {
   	  return parseInt(new Date().getTime() / 1000) + '';
  	}; 
  
	 // 获取左边菜单数据 
	 
	 function GetMatchData(){
		 console.log('${ctx}/match/type/list');
		 
		 var url = "${ctx}/match/type/list?" + createTimestamp();
		 getResultMethods(url, {}, function(d){
			 console.log(d)
			 console.log(d.types.gameCode)
			vueData.Matchtab = d.types;
		 });
		 vueData.gameCode = '';
		 getDatalists();
	 };
	 
	 // 获取右边 菜单数据 	 
		function navTap(str,id){
		    console.log(id)
		  	 vueData.indexs=str
			 vueData.gameCode = id;
			 vueData.pageNum = 1;
			  getDatalists();   
		 };
		 
	  	 function getDatalists(isAppend){

  			  	var params = {
  			  		gameCode:vueData.gameCode,
  			  	 	currentPage:vueData.pageNum,  			  			
  			        pageSize:vueData.pageSize  			  			
  			  	}
			  	console.log(params)
			  	if(!isAppend) vueData.MatchListData.splice(0, vueData.MatchListData.length);
			  	var url = "${ctx}/achievement/match/page"
				getResultMethods(url, params, function(d){
					console.log(d)
			 		if(d.list.length) {
			    		d.list.forEach(function(v){
				    		vueData.MatchListData.push(v);
				    	});
					}else if(isAppend){
						$(".end_text").show();
					}

					console.log(vueData.MatchListData)	 			  
				});  
				  
		 }
	  	 			
	  // 赛事介绍页面 	 
		 function goDetail(matchCode) {
			  window.open("${ctx}/match/detail/"+matchCode + "?" + createTimestamp())  
		 };
		 
		function scorequery(Code) {
			  window.open("${ctx}/achievement/detail/init?matchCode=" +Code);  
		}
		 
	</script>
</html>