<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>帮助与反馈</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="inital-scale=1.0,user-scalable=yes;">
<meta name="description" content="">
<meta name="author" content="">
<title>帮助与反馈</title>

<!-- Custom styles for this template -->
<link href="${stx}/css/layout.css" rel="stylesheet">
<!-- <link href="${stx}/css/page.css" rel="stylesheet"> -->
<link href="${stx}/css/pagination.css" rel="stylesheet">
<link rel="stylesheet" href="${stx}/laydate/theme/default/laydate.css">
<link rel="stylesheet" href="${stx}/layui/css/layui.css"  media="all">
<style>
   body{background:url(${stx}/img/bg_baoming.jpg) repeat; width: 100%;height: 100%;}
  </style>
</head>
<body>
        <div class="content_height">
        <#include "common/nav.html">
		<div class="content_msy container clear registration_content">
             <#include "common/left_menu.html">
			 <div class="aside_content pull-right" style="height:600px;">
			 	<p class="top_title clear">
			 	    <span class="pull-left my_kf"><img src="${stx}/img/icon_xq_hq.png">帮助与反馈</span>
			 	    <span class="pull-right kf_text"><img src="${stx}/img/icon_kefu_a.png">客服电话：0571-88781970</span>
			 	</p>
                <div class="about_us">
                     <ul>
                        <li>
                            <p class="q1"><!-- <span>Q</span> -->1.报名后，查看报名信息。</p>
                            <p class="a1">登录个人中心，可以查看到报名信息；如果未查到报名信息，请拨打客服电话0571-88781970。</p>
                        </li>
                         <li>
                            <p class="q1">2.更改报名场次</p>
                            <p class="a1">如果所报赛事不收费，重新报名即可。<br>
                            如果所报赛事收费，请拨打客服电话0571-88781970，留下您的账号信息（姓名、手机号及报名时间）及所要更改的内容。我们会在更改<br>
                            完成后联系您！
                            </p>
                        </li>
                         <li>
                            <p class="q1">3.取消报名收费赛事后如何退费？</p>
                            <p class="a1">请拨打客服电话0571-88781970，告知您的姓名、手机号、报名时间及退款账户（微信、支付宝、银行账号均可），我们会尽快退款，并<br>
                            在退款完成后联系您。
                            </p>
                        </li>
                         <li>
                            <p class="q1">4.报名地点选择错误如何更改？</p>
                            <p class="a1">如果所报赛事不收费，重新报名即可。<br>
                            如果所报赛事收费，请拨打客服电话0571-88781970，留下您的账号信息（姓名、手机号及报名时间）及所要更改的内容。我们会在更改
                            完成后联系您！
                            </p>
                        </li>
                     </ul>

                </div>
			 </div>
		</div>	
		<div class="footer footer_bottom">
	    	 <div class="container clear">
	    	 	  <div class="pull-left">
	    	 	  	   <p class="footer_nav">
	    	 	  	   	  <a href="http://www.zntyydh.com/index.jsp">首页</a>  |  
	    	 	  	   	  <a href="http://www.zntyydh.com/col.jsp?id=114">新闻中心</a>  |  
	    	 	  	   	  <a href="http://www.zntyydh.com/col.jsp?id=107">赛事信息</a>   |   
	    	 	  	   	  <a href="http://www.zntyydh.com/col.jsp?id=109">智体百科</a>  |   
	    	 	  	   	  <a href="http://www.zntyydh.com/col.jsp?id=105">全球征集</a>  |  
	    	 	  	   	  <a href="http://www.zntyydh.com/col.jsp?id=106"> 联系我们</a>
	    	 	  	   </p>
	    	 	  	   <p class="simpleText">
	    	 	  	   	浙ICP备18028500号-1<br>
                                                版权所有：全国智能体育大赛 未经授权不得使用
	    	 	  	   </p>
	    	 	  </div>
	    	 	  <div class="pull-right footer_code">
	    	 	       <img src="${ctx}/img/img_footer.png">
	    	 	  </div>
	    	 </div>
		   </div>
		
		</div>
</body>
<script src="${stx}/js/jquery-2.1.1.min.js"></script>
<script src="${stx}/js/vue.js"></script>
<script src="${stx}/js/config.js"></script>
<script>
    $(function(){
    	$("#mykf").addClass("active");
    	$("#mykfEm").addClass("active");
    })
</script>
</html>