<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="inital-scale=1.0,user-scalable=yes;">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>报名成功</title>

    <!-- Custom styles for this template -->
    <link href="${stx}/css/layout.css" rel="stylesheet">
    
    <link rel="stylesheet" href="${stx}/laydate/theme/default/laydate.css">
    <link rel="stylesheet" href="${stx}/layui/css/layui.css"  media="all">
  </head>
	<body class="sign_backimg">
		<div class="modal_agreement">
			 <div class="agreement_content">
			 	  <p class="close"><img src="assets/img/icon_djishi.png"></p>
			 	  <p class="title">全国智能体育大赛智能跳绳分赛服务协议</p>
			 	  <div class="content">
			 	  	
			 	  </div>
			 	  <p class="txt">
			 	  	我已经阅读并同意以上协议
			 	  </p>
			 	  <p class="pay"><a>继续支付</a></p>
			 </div>
		</div>
        <#include "common/nav.html">
		<div class="signUp_from">
	     
 	  	     <div class="container from_table pay_code">
 	  	     	  <div class="code_lie">
 	  	     	  	   <p class="success_alert"> <img src="${stx}/img/icon_chenggong.png">报名成功！希望您获得好的成绩！</p>
                       <div class="pay_mode clear">
                       	   <span class="code_img pull-left code_right"><img src="${stx}/img/img_gzhwxa.jpg"></span>
                       	   <span class="code_img pull-left"><img src="${stx}/img/img_gzhwba2.jpg"></span>
                       </div>  
                       <div class="pay_mode_bottom clear">
                       	   <span class="code_img pull-left code_right"><img src="${stx}/img/img_gzhwx.jpg"></span>
                       	   <span class="code_img pull-left"><img src="${stx}/img/img_gzhwb.jpg"></span>
                       </div>
 	  	     	  </div>				     			              
 	  	     </div>
		</div>
	</body>
	<script type="text/javascript" src="${stx}/js/jquery-2.1.1.min.js"></script>
	<script src="${stx}/laydate/laydate.js"></script>
	<script src="${stx}/layui/layui.js" charset="utf-8"></script>
	<script>
		
		
			
	</script>
</html>
