<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="inital-scale=1.0,user-scalable=yes;">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>智体运动 app</title>

    <!-- Custom styles for this template -->
    <link href="${stx}/css/layout.css" rel="stylesheet">
    
    <link rel="stylesheet" href="${stx}/laydate/theme/default/laydate.css">
    <link rel="stylesheet" href="${stx}/layui/css/layui.css"  media="all">
        <style type="text/css">

    	.upload_backimg {
			width: 100%;
			height: 100%;
			background: url(${stx}/img/bg_xiazai.png) center center no-repeat;
			background-size: cover;
		    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/bg_xiazai.png', sizingMethod='scale');
       }
    </style>
  </head>
	<body class="upload_backimg">
        <#include "common/nav.html">
         <div class="uploadPage" id="uploadPage">
        	<div class="uploadBox">
	        	 <div class="wcode_img pull-left">
	        	 	<span class="f_1"><img src="${stx}/img/img_xz_ew.png"></span>
	        	 </div>
	        	 <div class="title_text pull-left"><img src="${stx}/img/img_xz_tit.png"></div>
        	 </div>
        </div>
		<div class="footer" style="position: absolute; bottom: 0;">
	    	 <div class="container clear">
		    	 	  <div class="pull-left">
		    	 	  	   <p class="footer_nav">
		    	 	  	   	  <a href="http://www.zntyydh.com/index.jsp">首页</a>  |  
		    	 	  	   	  <a href="http://www.zntyydh.com/col.jsp?id=114">新闻中心</a>  |  
		    	 	  	   	  <a href="http://www.zntyydh.com/col.jsp?id=107">赛事信息</a>   |   
		    	 	  	   	  <a href="http://www.zntyydh.com/col.jsp?id=109">智体百科</a>  |   
		    	 	  	   	  <a href="http://www.zntyydh.com/col.jsp?id=105">全球征集</a>  |  
		    	 	  	   	  <a href="http://www.zntyydh.com/col.jsp?id=106"> 联系我们</a>
		    	 	  	   </p>
		    	 	  	   <p class="simpleText">
		    	 	  	   	浙ICP备18028500号-1<br>
	                                                版权所有：全国智能体育大赛 未经授权不得使用
		    	 	  	   </p>
		    	 	  </div>
		    	 	  <div class="pull-right footer_code">
		    	 	       <img src="${ctx}/img/img_footer.png">
		    	 	  </div>
	    	 </div>
		</div>
	</body>
	<script type="text/javascript" src="${stx}/js/jquery-2.1.1.min.js"></script>
	<script src="${stx}/laydate/laydate.js"></script>
	<script src="${stx}/layui/layui.js" charset="utf-8"></script>
	<script>
		
		
			
	</script>
</html>
